@import "layout/**/*.scss";
@import "page/**/*.scss";

/*
x
.bg-cr {
    width: 9px; height: 5px;
    background: url('css_sprites.png') -5px -29px;
}

x
.bg-search {
    width: 14px; height: 14px;
    background: url('css_sprites.png') -30px -5px;
}

x
.bg-check {
    width: 15px; height: 14px;
    background: url('css_sprites.png') -5px -5px;
}*/