@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-black-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-blackital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-blackital-webfont.woff') format('woff');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-bold-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bolditalic-webfont.woff') format('woff');
    font-weight: 800;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-book-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-book-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-bookitalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-italic-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-reg-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-reg-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-sebold-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-sebold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-seboldital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-seboldital-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-light-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-light-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-lightital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-lightital-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-thin-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-thin-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-thinital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-thinital-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-xthin-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-xthin-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/pfbeausanspro-xthinital-webfont.woff2') format('woff2'),
         url('../fonts/pfbeausanspro-xthinital-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;

}